body{
    font-family: 'Calibri';
}

.icon{
    cursor: pointer;
}

#registered{
    margin-top: 30px;
    font-size: 20px;
}

#logoutbutton{
    padding-top: 13px;
    text-decoration: none;
}

.socialmedia{
    margin-top: 50px;
}

.socialmediabuttons button{
    display: block;
    margin: 10px 10px 10px 50px;
    width: 150px;
    font-size: 20px;
}

.socialmediaimages img{
    width: 170px;
    height: 170px;
    border-radius: 100%;
    margin: 20px;
    border: 5px #337AB7 solid;
}

.glyphicon-star-empty{
    font-size: 25px;
    color: black;
}

.glyphicon-star{
    font-size: 25px;
    color: gold;
}

.checkboxes div{
    border: 1px silver solid;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
}
.filtercontainer div {
    margin: 15px 45px 15px 10px;
}

.comparebtn button{
    display: block;
    width: 150px;
    font-size: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.button{
    display: inline;
    width: 150px;
    font-size: 20px;
}

.comparebtn .large-button{
    width: 180px;
}

.graybg{
    background-color: rgb(240, 240, 240);
}

.parentbg{
    background-color: #337AB7;
    font-size: 20px;
}

.parentbg .node-icon{
    margin-left: 20px;
}

.lastnode{
    border-bottom: #337AB7 4px solid;
}


/* Style the search box inside the navigation bar */

.search-container{
    padding: 5px;
}

.search-container button{
    padding: 5px;
}

/* Customize the label (the container) */
.filtercontainer {
    display: block;
    position: relative;
    padding: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    margin: 0;
  }

  .filtercontainer.disabled{
    cursor: not-allowed;
  }

  .filtercontainer p{
      display: inline;
  }
  
  /* Hide the browser's default checkbox */
  .filtercontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    top: 0;
    height: 30px;
    width: 30px;
    background-color: #ccc;
    border-radius: 10px;
    float: right;
  }

  .checkmarkdisabled{
    top: 0;
    height: 30px;
    width: 30px;
    background-color: rgba(204, 204, 204, 0.4);
    border-radius: 10px;
    float: right;
}
  
  /* On mouse-over, add a grey background color */
  .afiltercontainer:hover input ~ .checkmark {
    background-color: #aaa;
  }
  
  /* When the checkbox is checked, add a blue background */
  .filtercontainer input:checked ~ .checkmark {
    background-color: #337AB7;
  }

  /* When the checkbox is checked, add a blue background */
  .filtercontainer input:checked ~ p {
    font-weight: bold;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    display: none;
    float: right;
  }
  
  /* Show the checkmark when checked */
  .filtercontainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkmark{
      padding: 7px 11px;
  }

  /* Style the checkmark/indicator */
  .filtercontainer .checkmark:after {
    left: 12px;
    top: 8px;
    width: 8px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.treeview{
    font-size: 18px;
}

.treeview p{
    margin-bottom: 10px;
}

.tabledata{
    margin-top: 30px;
}

.options h2{
    margin-bottom: 30px;
}

.searchbar{
    float: right;
}
.datafilter{
    margin: 40px 0;
}

.nodetitle{
    font-weight: bold;
}

.addbutton{
    height: 25px;
    width: 25px;
    font-size: 30px;
    padding: 6px;
    margin: 0px 10px 10px;
}

.addbutton p{
    position: relative;
    height: 0px;
    width: 0px;
    text-align: center;
    margin-top: -22px;
    margin-left: 0px;
}

#companynames h2{
    display: inline;
}

.companyselect{
    font-size: 25px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

  .blue{
      color: #337AB7;
  }

  .clickable{
    cursor: pointer;
  }
































  /*
  POP UP SCREEN
  */

  /* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.85); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    background-color: #ccc;
    position: relative;
    top: 25%; /* 25% from the top */
    width: 1300px; /* 100% width */
    text-align: center; /* Centered text/links */
    margin: auto; /* 30px top margin to avoid conflict with the close button on smaller screens */
    padding: 0px;
  }

  .overlay-content .img1{
    transform: scale(0.6);
    margin-left: -120px;
  }
  .overlay-content .img2{
      margin-top: 94px;
      margin-left: 140px;
    transform: scale(1);
  }

  .overlay-content h2{
      margin-top: 50px;
      margin-bottom: -50px;
  }

  .overlay button{
    position: relative;
    left: 47%;
    text-align: center; /* Centered text/links */
    margin: auto; /* 30px top margin to avoid conflict with the close button on smaller screens */
    margin-top: 200px;
    font-size: 30px;
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }