<!-- views/pages/admin.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>About</h1>
            <p>some info about this website and about us and what we do etc</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ea aliquam provident quia beatae
                quaerat? Tempore libero ducimus et vero perferendis, accusantium quos non earum qui nam voluptatum
                blanditiis tenetur provident nulla voluptas adipisci sunt impedit quasi itaque officia alias
                repellendus. Rerum perspiciatis dolorum fuga molestiae voluptatem enim ipsa et aliquid assumenda
                cupiditate minus quam eveniet voluptas voluptates maxime odio, facere voluptate deleniti laudantium
                culpa at facilis odit? Dignissimos minus consequatur accusantium quasi odio voluptates obcaecati iste
                rem in nisi, ratione qui reiciendis. Sint quasi repudiandae, veritatis sed magni nostrum cumque.
                Eligendi, temporibus ducimus! Porro corporis eum nemo voluptate architecto?</p>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>