<!-- views/pages/admin.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Uitleg prototype</h1>
            <p>
                Hey! Welkom op onze site. Voordat je aan de heuristische evaluatie begint geven we je wat info en uitleg over dit prototype.
            </p>
            <p>
                De website is gemaakt met html, css en javascript. Dit betekend dat veel features gewoon werken. Toch zijn er een aantal dingen die het (nog) niet doen.
                Hier een lijstje van knoppen die niks doen maar hopelijk wel vanzelfsprekend zijn wat ze zouden moeten doen:
                <br>
                <br>
                - Zoekbalk.
                <br>
                - 'Only differences' en 'Only similarities' filters.
                <br>
                - Dropdown van bedrijf een ander bedrijf kiezen. bv van Facebook naar Google.
                <br>
                - Bookmarking (de sterretjes) kan je aanklikken maar worden niet echt opgeslagen in je account.
                <br>
                - 'Show bookmarked' laat dus altijd dezelfde (voorgeprogrammerde) lijst aan gebookmarkde data zien.
                <br>
                - De info ingevuld bij register wordt niet gebruikt. En de knop 'register' maakt ook niet echt een account aan.
                <br>
                - De info ingevuld bij login wordt niet gebruikt. Je kan wel inloggen maar altijd met dezelfde 'account' van Laura. (Remember me werkt dus ook niet)
                <br>
                - Linkedin, Tiktok en Snapchat zijn disabled omdat er nog geen data voor ingevoerd is.
                <br>
                - 'Share data' kopieerd nu de url die je kan delen met andere. Dit gaan we misschien nog iets uitbereiden. Maar hier mag je prima feedback op geven!
                <br>
            </p>
            <p>
                Nu wat in
                ***HIER MOET NOG INFO KOMEN OVER USE CASES OID***
            </p>
            <p>
                Hopelijk hebben we je hiermee genoeg informatie gegeven en kan je een prachtige heuristische evaluatie schrijven.
            </p>
            <p>Alvast bedankt voor je feedback! :)</p>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>